/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
div.editor-block-list__block-edit .hideonsignup {
  display: block; }

div.editor-block-list__block-edit .wp-block-wp4toastmasters-role, div.editor-block-list__block-edit .wp-block-wp4toastmasters-signupnote, div.editor-block-list__block-edit .wp-block-wp4toastmasters-absences, div.editor-block-list__block-edit .wp-block-wp4toastmasters-agendanoterich2, .wp-block-wp4toastmasters-agendanoterich2 {
  background: #ddd;
  color: #000;
  margin: 0 auto;
  max-width: 740px;
  padding-left: 5px;
  padding-right: 5px;
  display: block; }

div.editor-block-list__block-edit .wp-block-wp4toastmasters-agendanote, div.editor-block-list__block-edit .wp-block-wp4toastmasters-agendanoterich, div.editor-block-list__block-edit .wp-block-wp4toastmasters-agendanoterich2 {
  border: 0.2rem solid #0D0AF1; }

.wp-block-wp4toastmasters-agendanoterich2 .mce-content-body, .wp-block-wp4toastmasters-agendanoterich .mce-content-body, .wp-block-wp4toastmasters-signupnote .mce-content-body {
  background-color: #fff;
  padding: 5px;
  margin-bottom: 10px; }

div.editor-block-list__block-edit .wp-block-wp4toastmasters-role {
  border: 0.2rem solid #FC0101; }

div.editor-block-list__block-edit .wp-block-wp4toastmasters-agendaedit {
  border: 0.2rem solid #F709F7; }

div.editor-block-list__block-edit .wp-block-wp4toastmasters-signupnote {
  border: 0.2rem solid #aaa; }

div.editor-block-list__block-edit .wp-block-wp4toastmasters-absences {
  border: 0.2rem dotted #333333; }

.wp-block-wp4toastmasters-agendanote label, .wp-block-wp4toastmasters-role label {
  display: block;
  width: 200px;
  float: left;
  margin-right: 10px; }

div.editor-block-list__block-edit .wp-block-wp4toastmasters-agendanote, .wp-block-wp4toastmasters-agendanoterich2 {
  display: block;
  background-color: #eee; }

.wp-block-wp4toastmasters-agendanote textarea, .wp-block-wp4toastmasters-agendanote textarea {
  width: 100%; }

div.editor-block-list__block-edit .wp-block-wp4toastmasters-agendanote .editor-rich-text__tinymce, div.editor-block-list__block-edit .wp-block-wp4toastmasters-role form, div.editor-block-list__block-edit .wp-block-wp4toastmasters-agendaedit form, div.editor-block-list__block-edit .wp-block-wp4toastmasters-signupnote .editor-rich-text__tinymce {
  margin-bottom: 10px;
  border-bottom: thin solid #000;
  background-color: #fff; }
